flows.json
[
    {
        "id": "11d683029368b71c",
        "type": "tab",
        "label": "Login Form",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "tab_kho_sach_vip",
        "type": "tab",
        "label": "Kho Sách VIP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e163ddcb6cbd5caa",
        "type": "group",
        "z": "11d683029368b71c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ca9b95ca516317af",
            "8b6e4bd9546e18c4"
        ],
        "x": 108,
        "y": 293,
        "w": 1084,
        "h": 354
    },
    {
        "id": "ca9b95ca516317af",
        "type": "group",
        "z": "11d683029368b71c",
        "g": "e163ddcb6cbd5caa",
        "name": "Login Form",
        "style": {
            "label": true
        },
        "nodes": [
            "5660b46ab5b6d219",
            "8ce444acfc6de336",
            "b27ef0ad79b174d6",
            "be8c2fce8df81cb7",
            "30c7e238d93da638"
        ],
        "x": 134,
        "y": 319,
        "w": 1032,
        "h": 82
    },
    {
        "id": "8b6e4bd9546e18c4",
        "type": "group",
        "z": "11d683029368b71c",
        "g": "e163ddcb6cbd5caa",
        "name": "Login Submitted Form",
        "style": {
            "label": true
        },
        "nodes": [
            "4b7e90029e558631",
            "193e2c791d447cd6",
            "99237e2d82c201ba",
            "4043d74cfe623c83",
            "7b2b7f0ff09ea904"
        ],
        "x": 134,
        "y": 479,
        "w": 812,
        "h": 142
    },
    {
        "id": "92c13018d1cb027c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2899db3ef68a5b59",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57dd3ac8e6c8656a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "980e918b489c012e",
        "type": "ui_group",
        "name": "Default",
        "tab": "2899db3ef68a5b59",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt_broker_id",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_id",
        "type": "ui_tab",
        "name": "Hệ Thống Thư Viện",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_id",
        "type": "ui_group",
        "name": "Quản lý Khay Trả Sách",
        "tab": "2899db3ef68a5b59",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37a36f3fe3aebb1e",
        "type": "ui_group",
        "name": "Trạm Mượn (SIP2)",
        "tab": "ui_tab_id",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_home",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_khay",
        "type": "ui_group",
        "name": "Quản lý Khay Trả Sách",
        "tab": "ui_tab_home",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_kiosk",
        "type": "ui_group",
        "name": "Trạm Mượn (SIP2)",
        "tab": "ui_tab_home",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "488d626b04207eb7",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "174763bbd25b687f",
        "type": "ui_group",
        "name": "Quản lý Khay Trả Sách",
        "tab": "ui_tab_home",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b52772754d89dba2",
        "type": "ui_group",
        "name": "Trạm Mượn/Trả (SIP2)",
        "tab": "ui_tab_home",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7b5384471c354345",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0bbdda8ddb920a1",
        "type": "ui_group",
        "name": "Trạm Giao Dịch SIP2",
        "tab": "ui_tab_home",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7f67412ca0fc7419",
        "type": "ui_group",
        "name": "Thống Kê Kho Sách",
        "tab": "ui_tab_home",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "group_form_vip",
        "type": "ui_group",
        "name": "Trạm Giao Dịch (Menu)",
        "tab": "ui_tab_home",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "group_dash_vip",
        "type": "ui_group",
        "name": "Thống Kê Kho",
        "tab": "ui_tab_home",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "tab_hanoios_demo",
        "type": "ui_tab",
        "name": "Dashboard Hiện Đại",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group_left_main",
        "type": "ui_group",
        "name": "Chỉ số chính (Cột Trái)",
        "tab": "tab_hanoios_demo",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group_right_env",
        "type": "ui_group",
        "name": "Môi trường (Cột Phải)",
        "tab": "tab_hanoios_demo",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab_library_vip_new",
        "type": "ui_tab",
        "name": "Kho Sách VIP (Bản Đẹp)",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group_lib_left",
        "type": "ui_group",
        "name": "Khu Vực Hiển Thị (Cột Trái)",
        "tab": "tab_library_vip_new",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_lib_right",
        "type": "ui_group",
        "name": "Khu Vực Điều Khiển (Cột Phải)",
        "tab": "tab_library_vip_new",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "851217ef0f875353",
        "type": "ui_group",
        "name": "Khu Vực Ảnh (Cột 3)",
        "tab": "tab_library_vip_new",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5660b46ab5b6d219",
        "type": "http in",
        "z": "11d683029368b71c",
        "g": "ca9b95ca516317af",
        "name": "",
        "url": "/login",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "8ce444acfc6de336"
            ]
        ]
    },
    {
        "id": "8ce444acfc6de336",
        "type": "function",
        "z": "11d683029368b71c",
        "g": "ca9b95ca516317af",
        "name": "set url = \"loginpost\";",
        "func": "msg.url = \"loginpost\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 444,
        "y": 360,
        "wires": [
            [
                "b27ef0ad79b174d6"
            ]
        ]
    },
    {
        "id": "b27ef0ad79b174d6",
        "type": "template",
        "z": "11d683029368b71c",
        "g": "ca9b95ca516317af",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\nwidth: 100%;\npadding: 12px 20px;\nmargin: 8px 0;\ndisplay: inline-block;\nborder: 1px solid #ccc;\nbox-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\nbackground-color: #04AA6D;\ncolor: white;\npadding: 14px 20px;\nmargin: 8px 0;\nborder: none;\ncursor: pointer;\nwidth: 100%;\n}\n\nbutton:hover {\nopacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\nwidth: auto;\npadding: 10px 18px;\nbackground-color: #f44336;\nborder-radius: 10%;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\ntext-align: center;\nmargin: 24px 0 12px 0;\nposition: relative;\n}\n\nimg.avatar {\nwidth: 40%;\nborder-radius: 5%;\n}\n\n.container {\npadding: 16px;\n}\n\nspan.psw {\nfloat: right;\npadding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\ndisplay: none; /* Hidden by default */\nposition: fixed; /* Stay in place */\nz-index: 1; /* Sit on top */\nleft: 0;\ntop: 0;\nwidth: 100%; /* Full width */\nheight: 100%; /* Full height */\noverflow: auto; /* Enable scroll if needed */\nbackground-color: rgb(0,0,0); /* Fallback color */\nbackground-color: rgba(0,0,0,0.4); /* Black w/ opacity */\npadding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\nbackground-color: #fefefe;\nmargin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\nborder: 1px solid #888;\nwidth: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\nposition: absolute;\nright: 25px;\ntop: 0;\ncolor: #000;\nfont-size: 35px;\nfont-weight: bold;\n}\n\n.close:hover,\n.close:focus {\ncolor: red;\ncursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n-webkit-animation: animatezoom 0.6s;\nanimation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\nfrom {-webkit-transform: scale(0)}\nto {-webkit-transform: scale(1)}\n}\n\n@keyframes animatezoom {\nfrom {transform: scale(0)}\nto {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\nspan.psw {\ndisplay: block;\nfloat: none;\n}\n.cancelbtn {\nwidth: 100%;\n}\n}",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "30c7e238d93da638"
            ]
        ]
    },
    {
        "id": "be8c2fce8df81cb7",
        "type": "http response",
        "z": "11d683029368b71c",
        "g": "ca9b95ca516317af",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "30c7e238d93da638",
        "type": "template",
        "z": "11d683029368b71c",
        "g": "ca9b95ca516317af",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n  <!-- Required meta tags -->\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n  <meta name=\"description\" content=\"We are experts in everything related to IBM i.\">\n  <meta name=\"keywords\" content=\"IBM i, FormaServe, Training, RPG, SQL, PHP, NodeJS, AS400, iSeries, Open-Source Node.js PHP Node-RED\">\n  <meta name=\"author\" content=\"FormaServe Systems Ltd\">\n\n  <title>FormaServe</title>\n  \n<style>{{{payload.style}}}</style>\n</head>\n\n<body>\n<div class=\"container\">\n<br>\n<h2>Login Form</h2>\n\n<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">Click to Login</button>\n</div>\n\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/loginpost\" method=\"post\">\n  \n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"https://www.formaserve.co.uk/_graphics/logo_1.png\" alt=\"fss-logo\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"uname\"><b>Username</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"uname\" required>\n\n      <label for=\"psw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n        \n      <button type=\"submit\">Login</button>\n      <label>\n        <input type=\"checkbox\" checked=\"checked\" name=\"remember\"> Remember me\n      </label>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n      <span class=\"psw\">Forgot <a href=\"#\">password?</a></span>\n    </div>\n  </form>\n</div>\n\n<script>\n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n</script>\n\n</body>\n</html>\n",
        "x": 870,
        "y": 360,
        "wires": [
            [
                "be8c2fce8df81cb7"
            ]
        ]
    },
    {
        "id": "4b7e90029e558631",
        "type": "http in",
        "z": "11d683029368b71c",
        "g": "8b6e4bd9546e18c4",
        "name": "",
        "url": "/loginpost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "193e2c791d447cd6",
                "7b2b7f0ff09ea904"
            ]
        ]
    },
    {
        "id": "193e2c791d447cd6",
        "type": "debug",
        "z": "11d683029368b71c",
        "g": "8b6e4bd9546e18c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 395,
        "y": 580,
        "wires": [],
        "l": false
    },
    {
        "id": "99237e2d82c201ba",
        "type": "http response",
        "z": "11d683029368b71c",
        "g": "8b6e4bd9546e18c4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "4043d74cfe623c83",
        "type": "function",
        "z": "11d683029368b71c",
        "g": "8b6e4bd9546e18c4",
        "name": "build payload to client",
        "func": "msg.payload = `The msg.payload contains: ${msg.payload}` \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "99237e2d82c201ba"
            ]
        ]
    },
    {
        "id": "7b2b7f0ff09ea904",
        "type": "json",
        "z": "11d683029368b71c",
        "g": "8b6e4bd9546e18c4",
        "name": "Convert Post",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 443.33333333333326,
        "y": 520,
        "wires": [
            [
                "4043d74cfe623c83"
            ]
        ]
    },
    {
        "id": "template_form",
        "type": "ui_template",
        "z": "tab_kho_sach_vip",
        "group": "group_lib_right",
        "name": "Form Có Menu Dropdown",
        "order": 1,
        "width": "10",
        "height": "8",
        "format": "<div style=\"padding: 10px; display: flex; flex-direction: column; gap: 15px;\" ng-init=\"my_sv=''; my_sl=1; my_act='borrow'\">\n    <div>\n        <label style=\"font-weight:bold; color:#333;\">Tên / Mã SV</label><br>\n        <input type=\"text\" ng-model=\"my_sv\" placeholder=\"Nhập tên...\" style=\"width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; margin-top:5px; font-size:16px;\">\n    </div>\n    <div>\n        <label style=\"font-weight:bold; color:#333;\">Số lượng</label><br>\n        <input type=\"number\" ng-model=\"my_sl\" style=\"width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; margin-top:5px; font-size:16px;\">\n    </div>\n    <div>\n        <label style=\"font-weight:bold; color:#333;\">Hành động</label><br>\n        <select ng-model=\"my_act\" style=\"width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; margin-top:5px; font-size:16px;\">\n            <option value=\"borrow\">📗 Mượn sách</option>\n            <option value=\"return\">📘 Trả sách</option>\n            <option value=\"sleep\">💤 Đi ngủ</option>\n            <option value=\"eat\">🍜 Ăn cơm</option>\n            <option value=\"secret\"> Địa điểm bí ẩn?</option>\n        </select>\n    </div>\n    <button ng-click=\"send({payload: {ma_sv: my_sv, so_luong: my_sl, action: my_act}})\" style=\"padding:12px; background-color:#009688; color:white; border:none; border-radius:4px; cursor:pointer; font-weight:bold; font-size:16px;\">\n        THỰC HIỆN\n    </button>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "mqtt_out_vip"
            ]
        ]
    },
    {
        "id": "mqtt_out_vip",
        "type": "mqtt out",
        "z": "tab_kho_sach_vip",
        "name": "Gửi Lệnh",
        "topic": "library/kiosk/request",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92c13018d1cb027c",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_in_kho_vip",
        "type": "mqtt in",
        "z": "tab_kho_sach_vip",
        "name": "Nhận Data Kho",
        "topic": "library/inventory/count",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "92c13018d1cb027c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "gauge_kho_vip",
                "chart_kho_vip"
            ]
        ]
    },
    {
        "id": "gauge_kho_vip",
        "type": "ui_gauge",
        "z": "tab_kho_sach_vip",
        "name": "Đồng hồ Kho",
        "group": "group_lib_left",
        "order": 1,
        "width": "10",
        "height": "5",
        "gtype": "gage",
        "title": "Kho sách (Cuốn)",
        "label": "Cuốn",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "chart_kho_vip",
        "type": "ui_chart",
        "z": "tab_kho_sach_vip",
        "name": "Biểu đồ Kho",
        "group": "group_lib_left",
        "order": 2,
        "width": "10",
        "height": "5",
        "label": "Lịch sử biến động Kho",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_in_log_vip",
        "type": "mqtt in",
        "z": "tab_kho_sach_vip",
        "name": "Nhận Lịch Sử",
        "topic": "library/kiosk/log",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "92c13018d1cb027c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "text_log_vip"
            ]
        ]
    },
    {
        "id": "text_log_vip",
        "type": "ui_text",
        "z": "tab_kho_sach_vip",
        "group": "851217ef0f875353",
        "order": 1,
        "width": "10",
        "height": "2",
        "name": "Bảng Thông Báo",
        "label": "Log:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "mqtt_in_inline",
        "type": "mqtt in",
        "z": "tab_kho_sach_vip",
        "name": "Nhận Ảnh Inline",
        "topic": "library/kiosk/inline_image",
        "qos": "0",
        "datatype": "utf8",
        "broker": "92c13018d1cb027c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "template_inline_img"
            ]
        ]
    },
    {
        "id": "template_inline_img",
        "type": "ui_template",
        "z": "tab_kho_sach_vip",
        "group": "851217ef0f875353",
        "name": "Khung Hiển Thị Ảnh",
        "order": 2,
        "width": "10",
        "height": "6",
        "format": "<div style=\"text-align: center; width: 100%;\">\n    <img id=\"secret-img\" src=\"\" style=\"width: 100%; max-height: 450px; object-fit: contain; border-radius: 10px; display: none; box-shadow: 0 8px 16px rgba(0,0,0,0.4);\">\n</div>\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg && msg.payload) {\n                var img = document.getElementById('secret-img');\n                if (msg.payload === 'clear') {\n                    img.style.display = 'none';\n                } else {\n                    img.src = msg.payload;\n                    img.style.display = 'block';\n                }\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "440ee5c056885088",
        "type": "comment",
        "z": "tab_kho_sach_vip",
        "name": "Test Đồng bộ",
        "info": "",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "css_magic_library",
        "type": "ui_template",
        "z": "tab_kho_sach_vip",
        "group": "group_lib_left",
        "name": "CSS Bo Góc Thư Viện",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\nbody, .nr-dashboard-theme md-content {\n    background-color: #f4f7f9 !important;\n}\nmd-card {\n    border-radius: 16px !important;\n    box-shadow: 0 4px 12px rgba(0,0,0,0.08) !important;\n    background-color: #ffffff !important;\n    border: none !important;\n    margin: 8px !important;\n}\n.nr-dashboard-theme md-toolbar {\n    background-color: #ffffff !important;\n    color: #333 !important;\n    box-shadow: 0 2px 10px rgba(0,0,0,0.05) !important;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 300,
        "wires": [
            []
        ]
    }
]